<div class='mb-1'>
  <form>
    <div class='input-group-text'>
      {{#if @currentTask.isDone}}
        <div class='input-group-checkbox'>
          <input
            class='form-check-input mt-0.5 me-2'
            type='checkbox'
            value={{@currentTask.isDone}}
            aria-label='Checkbox for following text input'
            {{on 'click' this.onIsDoneChange}}
            checked
          />
        </div>
      {{else}}
        <div class='input-group-checkbox'>
          <input
            class='form-check-input mt-0.5 me-2'
            type='checkbox'
            value={{@currentTask.isDone}}
            aria-label='Checkbox for following text input'
            {{on 'click' this.onIsDoneChange}}
          />
        </div>
      {{/if}}
      <div class='input-group mt-0'>
        <input
          type='text'
          class={{check-if-is-done @currentTask.isDone}}
          aria-label='description'
          value={{@currentTask.description}}
          {{on 'input' this.onDescriptionChange}}
        />
        <ShowTasks::Details::DeleteButton @currentTask={{@currentTask}} />
      </div>
    </div>
  </form>
</div>