<MainContainer />
<button
  type='submit'
  class='btn btn-danger'
  {{on 'click' this.onActiveChoose}}
>Active</button>
<button
  type='submit'
  class='btn btn-danger'
  {{on 'click' this.onCompletedChoose}}
>Completed</button>
<button
  type='submit'
  class='btn btn-danger'
  {{on 'click' this.onAllChoose}}
>All</button>
<ShowTasks @tasks={{this.model}} />
<button type='button' class='btn btn-info' {{on 'click' this.showAddInput}}>
  Add new task
</button>
<AddTask
  @isShowAddInput={{this.isShowAddInput}}
  @checkShowAddInput={{this.checkShowAddInput}}
  @tasks={{this.model}}
/>