<table class='table'>
  <thead>
    <tr>
      <th scope='col'>ID</th>
      <th scope='col'>Description</th>
      <th scope='col'>Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each @tasks as |task|}}
      <tr>
        <td>{{task.id}}</td>
        <td>{{task.description}}</td>
        <td>{{format-date task.createdAt}}</td>
        <td>{{task.isDone}}</td>
        <ShowTasks::EditDeleteButton @currentTask={{task}} />
      </tr>
    {{/each}}
  </tbody>
</table>