<table class='table'>
  <thead>
    <tr>
      <th scope='col'>ID</th>
      <th scope='col'>Description</th>
      <th scope='col'>Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each @tasks as |task|}}
      <tr>
        <td>{{task.id}}</td>
        <td>{{task.description}}</td>
        <td>{{moment-format task.createdAt 'DD-MM-YYYY'}}</td>
        <td>
          {{#if task.isDone}}
            <div class='form-check'>
              <input
                class='form-check-input'
                type='checkbox'
                value={{task.isDone}}
                id='checkbox'
                checked
                disabled
              />
            </div>
          {{else}}
            <div class='form-check'>
              <input
                class='form-check-input'
                type='checkbox'
                value={{task.isDone}}
                id='checkbox'
                disabled
              />
            </div>
          {{/if}}
        </td>
        <ShowTasks::EditDeleteButton @currentTask={{task}} />
      </tr>
    {{/each}}
  </tbody>
</table>