<MainContainer />
<form class='edit-task'>
  <div class='mb-3'>
    <label class='form-label'>Description</label>
    <input
      type='description'
      class='form-control'
      id='description'
      aria-describedby='description'
      value={{this.model.description}}
      {{on 'input' (fn this.onPropertyChange 'description')}}
    />
  </div>
  <div class='mb-3 form-check'>
    {{#if this.model.isDone}}
      <input
        type='checkbox'
        class='form-check-input'
        id='checkbox'
        {{on 'click' this.toggleIsDone}}
        checked
      />
    {{else}}
      <input
        type='checkbox'
        class='form-check-input'
        id='checkbox'
        {{on 'click' this.toggleIsDone}}
      />
    {{/if}}
    <label class='form-check-label' for='checkbox'>Is done?</label>
  </div>
  <button
    type='submit'
    class='btn btn-primary'
    {{on 'click' this.onSubmit}}
  >Submit</button>
  <button
    type='submit'
    class='btn btn-danger'
    {{on 'click' this.onCancel}}
  >Cancel</button>
</form>